body{
    color: brown;
    background-color: blanchedalmond;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: rgb(212, 172, 124);
    text-align: center;
}
p{
    color: rgb(109, 74, 29);
    background-color: rgb(207, 214, 214);
    font-size: medium;
    font-family: 'Gemunu Libre', sans-serif;
    /* Revisar las fuentes en google fonts , revisamos la fuente que nos gusta  "le ponemos en el signo de más para agregarla" finalmente copiamos el codigo html para descargarlo en la pagina para todos los disositivos o copiamos el css para la funte en especifico*/
    /* Para agregarle el mismo estilo a todas las etiquetas sel o aplicaremos diectamente a la etiqueta body 
     SELECTOR UNIVERSAL
         *{
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', sans-serif;
        }

        body{
            background-color: aquamarine;
            text-align: center;
        }

        ESTILOS DEL HEADER
        header{
            background-color: rgb(68, 67, 67);

        }
        h1{
            font-size: 40px;
            color: aquamarine;
            padding-top: 30px; 
            padding-bottom: 30px;

            }
        nav{
            background-color: aquamarine;
        }
        nav a{
            text-decoration: none;
            }

        ESTILOS DEL ARTICLE
        article{
            background-color: rgb(45, 134, 218);
        }

        ESTILOS DEL ASIDE
        aside{
      background-color: rgb(250, 15, 199);
        }

         ESTILOS DEL FOOTER 
        footer{
          background-color: yellow;
           letter-spacing: .5em;
        }
         CLASE PARA SOMBRA DE TEXTO 
        .sombra{
            text-shadow: 3px 3px 2px rgb(212, 111, 98);
        }

        ESTILOS PARA LOS BOTONES DEL MENU 
        #enl1{
            border: 1px solid rgb(245, 9, 9);
            background-color: blueviolet;
            color: #fff;
        }
        #enl2{
            border: 1px solid rgb(245, 9, 9);
            background-color: rgb(34, 4, 63);
            color: #fff;
        }
        #enl3{
            border: 1px solid rgb(245, 9, 9);
            background-color: rgb(218, 188, 247);
            color: #fff;
        }
        #enl4{
            border: 1px solid rgb(245, 9, 9);
            background-color: rgb(60, 41, 78);
            color: #fff;
        }

        ESTILOS PARA LOS CONTENEDORES 
        .espacio{
            padding: 50px 0 50px 0;
            text-align: center;
            border: 1px solid black;
        }

        ESTILOS PARA LOS SUBTIRULOS 
        .subtitulos{
            color: red;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: .5em;
        }*/
}
